<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title></title>
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/my.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/osahan.js"></script>
    <script src="/js/my.js"></script>
</head>
<body>

<div th:insert="navgation::nav"></div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">消息列表</h6>
                    </div>
                    <div class="box-body">
                        <div class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list" th:each="chatlist:${chatlists}">
                            <div class="dropdown-list-image mr-3" >
                                <img class="rounded-circle" th:src="'/'+${chatlist.user2_picture}" alt="">
                            </div>
                            <div class="font-weight-bold">
                                <a th:href="'/gows/'+${chatlist.user2_id}"> <div class="text-truncate" th:text="${chatlist.user2_name}">
                                </div></a>
                                <span class="badge badge-danger ml-1" th:text="${chatlist.unread}">666
                            </span>
                                <!--                最后消息-->
                                <!--                <div class="small text-muted"><span class="text-primary">You and 1 connection</span> have given endorsements for this skill-->
                                <!--                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </aside>
            <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">快来聊天吧</h6>
                    </div>

                    <!--                    消息框占位-->
                    <div id="message" class="box-body p-3"  style="height:300px;overflow:auto" >
                    </div>

                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-body p-3">
                            <textarea placeholder="请输入消息" id="sendMsg" rows="4" style="width: 100%" > </textarea>
                            <input type="hidden" id="userId"  th:value="${userid}">
                            <input type="hidden" id="userName"  th:value="${session.loginer.user_name}">
                        </div>

                        <!--                    <input type="file" accept="image/*" class="form-control" id="picture" placeholder="插入图片" value="插入图片">-->
                        <!--                    <button onclick="sendPic()" class="btn btn-primary btn-sm btn-block">发送图片</button>-->
                        <button onclick="send()" class="btn btn-primary btn-sm btn-block">发送消息</button>
                        <!--                    <button onclick="closeWebSocket()" class="btn btn-primary btn-sm btn-block">关闭WebSocket连接</button>-->
                    </div>
                </div>
            </main>
            <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
<!--                在线用户-->
                <div class="box shadow-sm border rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">在线用户</h6>
                    </div>
                    <div class="box-body p-3">
                        <div class="d-flex align-items-center osahan-post-header mb-3 people-list" th:each="people:${users}">
                            <a th:href="'/gouserinfo/'+${people.user_id}">
                                <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" th:src="${people.user_picture}" alt="">
                                <div class="status-indicator bg-success">
                                </div>
                                </div>
                            </a>
                            <div class="font-weight-bold mr-2">
                                <div class="text-truncate" th:text="${people.user_name}"></div>
                            </div>
                            <span class="ml-auto"><button type="button" th:onclick="'addF('+${session.loginer.user_id}+','+${people.user_id}+')'" class="btn btn-light btn-sm"><i class="feather-user-plus"></i></button>
                           </span>
                        </div>

                    </div>
                </div>

                <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                    <img src="img/ads1.png" class="img-fluid" alt="Responsive image">
                    <div class="p-3 border-bottom">
                        <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>
                        <p class="mb-0 text-muted">Grow & nurture your network</p>
                    </div>
                    <div class="p-3">
                        <button type="button" class="btn btn-outline-gold pl-4 pr-4"> ACTIVATE </button>
                    </div>
                </div>

            </aside>
        </div>
    </div>
</div>

<!--<div th:each="chatlist : ${chatlists}" >-->

<!--    <div th:classappend="${chatlist.user2_id }eq ${friendid}?'light' : 'dark'" >-->
<!--        <span th:text="${chatlist.user2_id}"></span>-->
<!--    </div>-->
<!--    <div th:if="${chatlist.unread}ne 0">-->
<!--            <span th:text="${chatlist.unread}+'条'"></span>-->
<!--    </div>-->
<!--</div>-->

<!--<div style="background-color: #e2e2e2">-->
<!--    <div th:each="message:${messages}" th:classappend="${message.user_id }eq ${userid}?'msgRight' : 'msgLeft'">-->
<!--        <span th:text="${message.content}"></span>-->
<!--    </div>-->
<!--</div>-->
<!--userId:发送消息人的编号-->

</body>

<script type="text/javascript">
    let websocket = null;
    let userId = document.getElementById('userId').value;

    console.log(userId);

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://127.0.0.1:8080/groupwebsocket/" + userId);
    }
    else {
        alert('当前浏览器不支持websocket哦！')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        setMessageInnerHTMLLeft("网络开小差了，请稍后再试！");
    };

    //连接成功建立的回调方法
    websocket.onopen = function () {
        setMessageInnerHTMLLeft("你已加入群聊");
    }

    //接收到消息的回调方法,居右显示
    websocket.onmessage = function (event) {
        setMessageInnerHTMLRight(event.data);
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
        setMessageInnerHTMLLeft("WebSocket连接关闭");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    }

    //将消息显示在网页上
    function setMessageInnerHTMLLeft(sendMessage) {
        document.getElementById('message').innerHTML += '<span style="float:left;background-color: #dff0d8" >'+sendMessage + '</span><br/>';
    }
    function setMessageInnerHTMLRight(sendMessage) {
        document.getElementById('message').innerHTML += '<span style="float:right;background-color: #d9f1f7" >'+sendMessage + '</span><br/>';
    }

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        let message = document.getElementById('sendMsg').value;//要发送的消息内容

        if (message == "") {
            alert("发送信息不能为空！")
            return;
        }
        //获取发送人用户id
        let userId = document.getElementById('userId').value;
        if (userId == "") {
            alert("发送人id不能为空！")
            return;
        }
        let userName = document.getElementById('userName').value;
        if (userName == "") {
            alert("发送人姓名不能为空！")
            return;
        }
      
        document.getElementById('message').innerHTML += ("我:" + message + '<br/>');
        message =userName+","+ message + "," +"1"//将要发送的信息和内容拼起来，以便于服务端知道消息要发给谁
        websocket.send(message);
        $("#sendMsg").val("");

    }


</script>
</html>

