<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="../static/js/osahan.js"></script>
<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/fav.png">
      <title></title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
      <!-- Feather Icon-->
      <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/css/style.css" rel="stylesheet">


      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="/js/osahan.js"></script>
      <script src="/js/my.js"></script>

      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>


      <style type="text/css">

         body{

            padding: 0px;

            margin: 0px;

            font-family: "微软雅黑","宋体";

         }



         #menu1{

            /*position: relative;*/

            left: 30px;

            top: 20px;

            float: left;

         }
         #menu2{

            /*position: relative;*/

            left: 30px;

            top: 20px;

            float: left;

         }



         .flip{

            width: 60px;

            height: 30px;

            line-height: 30px;

            text-align: center;

            color: black;

            background-color: #ADFF2F;}



         .panel{

            margin: 0;

            width: 60px;

            height:80px;

            display: none;

         }

         .panel ul{ list-style-type: none; margin:0; padding:0; }

         a { text-decoration:none; cursor:pointer;}

         ul li{

            padding: 5px 8px;

            font-size: 14px;



         }

      </style>

      <script type="text/javascript">

         $(document).ready(function()

         {



            $('.menu').hover(function(){

               $(this).find('.panel').slideDown();

            },function(){

               $(this).find('.panel').slideUp();

            });

         });

      </script>
   </head>
   <body>
      <!--       Navigation -->
      <div th:insert="navgation::nav"></div>


      <div class="py-4">
         <div class="container">
            <div class="row">
               <!-- Main Content -->
               <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                  <div class="box mb-3 shadow-sm border rounded bg-white osahan-post" th:each="moment : ${moments}">
                     <!--  用户信息-->
                     <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle" th:src="${moment.user_picture}" >
                           <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                           <div class="text-truncate" >
                              <span th:text="${moment.user_name}">
                              </span>
                           </div>

                        </div>
                        <span class="ml-auto small" th:text="${#dates.format(moment.time, 'yyyy-MM-dd ')}"></span>
                     </div>


                     <div class="p-3 border-bottom osahan-post-body">
                        <a th:href="'/godetail/'+${moment.id}">
                           <p th:text="${moment.description}"></p>...查看详情
                        </a>

<!--                        图片-->
                        <div th:if="${moment.picture} ne null">
                        <div class="border" th:each="picture:${moment.picture.split(',')}" height="150px">
                           <img  th:src="'/'+${picture}"  class="img-fluid" >
                        </div>
                        </div>

<!--                        视频-->
                        <div th:if="${moment.video} ne null">
                        <div  class="border-bottom" th:each="video:${moment.video.split(',')}">
                           <video  th:src="'/'+${video}"  controls="controls" style="height:150px;"  class="img-fluid" ></video>
                        </div>
                        </div>
                     </div>
                     <div class="p-3 border-bottom osahan-post-footer">
                       <i class="feather-heart text-danger" th:text="${moment.like_count}"></i>
                        <i class="feather-message-square" th:text="${moment.comment_count}"></i>
                        <i class="feather-share-2" th:text="${moment.view_count}"></i>
                     </div>

                     <div class="p-3 border-bottom" >
                        <div class="page" style="width: 100%;position: absolute;bottom: 0px;left: 50%">
                <span th:if="${pageInfo.hasPreviousPage}" >
                <a class="prev"
                   th:href="@{'/goindex?page='+${pageInfo.prePage}}">上一页</a>
                </span>
                           <span th:each="page :${pageInfo.navigatepageNums}" >
                <span th:if="${pageInfo.pageNum==page}">
                    <a class="current" th:text="${page}"></a>
                </span>
                <span th:if="${pageInfo.pageNum!=page}" >
                    <a class="num" th:href="@{'/goindex?page='+${page}}" th:text="${page}"></a>
                </span>
                </span>

                           <span th:if ="${pageInfo.hasNextPage}">
                <a class="next" th:href="@{'/goindex?page='+${pageInfo.nextPage}}">下一页</a>
            </span>
                        </div>
                     </div>
                  </div>
               </main>


               <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
<!--                  用户信息-->
                  <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                     <div class="py-4 px-3 border-bottom">
                        <img th:src="'/'+${session.loginer.user_picture}"class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                        <h5 class="font-weight-bold text-dark mb-1 mt-4" th:text="${session.loginer.user_name}"></h5>
                     </div>
                     <div class="d-flex">
                        <div class="col-6 border-right p-3">
                           <h6 class="font-weight-bold text-dark mb-1"><span th:text="${like_count}"></span></h6>
                           <p class="mb-0 text-black-50 small">获赞数</p>
                        </div>
                        <div class="col-6 p-3">
                           <h6 class="font-weight-bold text-dark mb-1"><span th:text="${view_count}"></span></h6>
                           <p class="mb-0 text-black-50 small">被访问次数</p>
                        </div>
                        <div class="overflow-hidden border-top">
                           <a class="font-weight-bold p-3 d-block" href="profile.html"> View my profile </a>
                        </div>
                     </div>
                  </div>

                  <!--                        生日提醒-->
                  <div class="box shadow-sm border rounded bg-white mb-3">
                     <div class="box-title border-bottom p-3">
                        <h6 class="m-0">好友生日提醒</h6>
                     </div>
                     <div class="box-body p-3">
                        <div class="d-flex align-items-center osahan-post-header mb-3 people-list" th:each="people:${birthday}">
                           <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" th:src="${people.user_picture}" alt="">
                              <div class="status-indicator bg-success"></div>
                           </div>
                           <div class="font-weight-bold mr-2">
                              <div class="text-truncate" th:text="${people.user_name}"></div>
                              <div class="text-truncate" ><span th:text="${#dates.format(people.user_birthday,'MM月dd日')}+'生日'"></span>
                                 <a th:href="'/gouserinfo/'+${people.user_id}" > <i class="feather-star" style="color: rgba(255, 145, 0, 1);font-size: x-large;margin-left: 56px"></i></a>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>

               </aside>


<!--               右边-->
               <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

                  <!--                  我看过谁-->
                  <div class="box shadow-sm border rounded bg-white mb-3">
                     <div class="box-title border-bottom p-3">
                        <h6 class="m-0">我最近看过的人</h6>
                     </div>
                     <div class="box-body p-3">
                        <div class="d-flex align-items-center osahan-post-header mb-3 people-list" th:each="people:${ISee}">
                           <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" th:src="${people.user_picture}" alt="">
                              <div class="status-indicator bg-success"></div>
                           </div>
                           <div class="font-weight-bold mr-2">
                              <div class="text-truncate" th:text="${people.user_name}"></div>
                              <div class="text-truncate" ><span th:text="${#dates.format(people.time,'yy年MM月dd日')}"></span>
                                 <a th:href="'/gouserinfo/'+${people.user2_id}" > <i class="feather-star" style="color: rgba(255, 145, 0, 1);font-size: x-large;margin-left: 56px"></i></a>

                              </div>
                           </div>
                        </div>

                     </div>
                  </div>

                  <!--                  谁看过我-->
                  <div class="box shadow-sm border rounded bg-white mb-3">
                     <div class="box-title border-bottom p-3">
                        <h6 class="m-0">最近看过我的人</h6>
                     </div>
                     <div class="box-body p-3">
                        <div class="d-flex align-items-center osahan-post-header mb-3 people-list" th:each="people:${SeeI}">
                           <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" th:src="${people.user_picture}" alt="">
                              <div class="status-indicator bg-success"></div>
                           </div>
                           <div class="font-weight-bold mr-2">
                              <div class="text-truncate" th:text="${people.user_name}"></div>
                              <div class="text-truncate" ><span th:text="${#dates.format(people.time,'yy年MM月dd日')}"></span>
                                 <a th:href="'/gouserinfo/'+${people.user1_id}" > <i class="feather-star" style="color: rgba(255, 145, 0, 1);font-size: x-large;margin-left: 56px"></i></a>

                              </div>
                           </div>
                        </div>

                     </div>
                  </div>



               </aside>
            </div>
         </div>
      </div>
      <input type="hidden" th:value="${session.loginer.user_id}" id="userId">
   </body>

<script>


   let websocket = null;
   websocketUtil();

</script>
</html>