<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <link  rel="stylesheet" href="css/bootstrap.min.css">
    <link  rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link  rel="stylesheet" href="css/my.css">
    <script src="js/bootstrap.min.js" type="javascript"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <style>
        body {
            width: 100%;
            height: 100vh;	/* 重点一 */
            margin: 0 auto;
            background-image: url('image/show/time.jpg');
            background-repeat: no-repeat;
            background-size: cover; /* 重点二 */
            overflow: auto;
        }
        .form-group{
            margin: 30px;
            height: 40px;
            width: 85%;
        }

    </style>
</head>
<body>
    <div class="container-fluid  " >
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 div1"  style=" margin: 200px; float: right;height: 400px;width: 400px; background-color:snow">
        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">用户登陆</span></h2>
        <form id="form1"  enctype="multipart/form-data" border="1">

            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="请输入用户名">
            </div>
            <div  class="form-group">
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>

            <button type="button"  onclick="getLocation()"   class="btn btn-success" style="margin: 55px">登陆</button>
            <button type="button"  onclick="register()"   class="btn btn-success"  style="margin: 55px">免费注册</button>

        </form>
        </div>
    </div>
</body>
<script >


    function getLocation() {
        if (navigator.geolocation){   //检测是否支持地理定位
            navigator.geolocation.getCurrentPosition(login);
            console.log("Geolocation is supported by this browser.");
        } else{
            console.log("Geolocation is not supported by this browser.");
        }
    }
    function login(position) {
        var user_name = $("#name").val();
        var user_pwd = $("#password").val();
        var lat= position.coords.latitude
        var lng= position.coords.longitude;
        var formData =new FormData;
        formData.append("user_name",user_name);
        formData.append("user_pwd",user_pwd);
        formData.append("lng",lng);
        formData.append("lat",lat);



        alert("准备登陆");

        $.ajax({
            type: "post",
            url: "/login",
            data: formData,//上一步的FormData
            cache: false,//不缓存数据
            processData: false,//不转换数据
            contentType: false,
            dataType: "json",
            success: function (data) {
                console.log(data.code);
                console.log(data.msg);
                if (data.code == 200) {
                    location.replace("/goindex");
                }
                else{
                    alert(data.msg);
                }




            }
        })

    }
    function  register() {
        window.location.href='/goregister';
    }
</script>
</html>