<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title></title>

    <link  rel="stylesheet" href="/css/bootstrap.min.css">
    <link  rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link  rel="stylesheet" href="/css/my.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/osahan.js"></script>
    <script src="/js/my.js"></script>
</head>
<body>
<div th:insert="navgation::nav">

</div>

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 div1"  >
    <h2><span class="glyphicon glyphicon-list" aria-hidden="true">动态中心</span></h2>
    <span class="x-right" style="line-height:40px">共有数据：<span
            style="color: #FD482C" th:text="${pageInfo.total}"></span> 条</span>
    <!--    数据展示-->
    <div class="media" th:each="moment : ${moments}">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-rounded " th:src="${moment.picture}"  height="38px" width="38px" >
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">第一个动态</h4>
            欢迎来到校园交友系统(图片占位)<br>
            <span th:text="${moment.id}"></span>
            <span class="text_desc"><2个回复 4次浏览 5人点赞 2小时前</span>
        </div>
    </div>
    <!--分页-->
    <div class="page pageInfo">
        <div>
            <span th:if="${pageInfo.hasPreviousPage}" >
                <a class="prev"
                   th:href="@{'/goMomentShow?page='+${pageInfo.prePage}}">上一页</a>
            </span>
            <span th:each="page :${pageInfo.navigatepageNums}" >
                <span th:if="${pageInfo.pageNum==page}">
                    <a class="current" th:text="${page}"></a>
                </span>
                <span th:if="${pageInfo.pageNum!=page}" >
                    <a class="num" th:href="@{'/goMomentShow?page='+${page}}" th:text="${page}"></a>
                </span>
            </span>

            <span th:if ="${pageInfo.hasNextPage}">
                <a class="next"
                   th:href="@{'/goMomentShow?page='+${pageInfo.nextPage}}">下一页</a>
            </span>
        </div>
    </div>
</div>
</body>
</html>