<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>用户注册</title>

    <link  rel="stylesheet" href="/css/bootstrap.min.css">
    <link  rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link  rel="stylesheet" href="/css/my.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/osahan.js"></script>
    <script src="/js/my.js"></script>
</head>
<body>


<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-md-4 mx-auto">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">
                        <a href="index.html"><img src="img/fav.png" alt=""></a>
                        <h5 class="font-weight-bold mt-3">加入我们</h5>
                        <p class="text-muted">认识更多朋友</p>
                    </div>
                    <form action="index.html">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="mb-1">用户名</label>
                                    <div class="position-relative icon-form-control">
                                        <i class="feather-user position-absolute"></i>
                                        <input type="text" class="form-control" id="user_name" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">电话</label>
                            <div class="position-relative icon-form-control">
                                <i class="feather-phone position-absolute"></i>
                                <input type="text" class="form-control" id="user_phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">密码(必须包括字母和数字)</label>
                            <div class="position-relative icon-form-control">
                                <i class="feather-unlock position-absolute"></i>
                                <input type="password" class="form-control" id="user_pwd" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">确认密码</label>
                            <div class="position-relative icon-form-control">
                                <i class="feather-unlock position-absolute"></i>
                                <input type="password" class="form-control" id="user_pwd_two" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">我同意 <a href="#">用户协议</a></label>

                        </div>
                        <div class="form-group">
                            <label class="mb-1">！请填写未注册的电话号码</label>
                        </div>


                        <button class="btn btn-primary btn-block text-uppercase"  onclick="register()"> 确认注册 </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function register() {
        alert("开始注册");
        let formData = new FormData;
        let user_name = $("#user_name").val();
        let user_pwd = $("#user_pwd").val();
        let user_pwd_two = $("#user_pwd_two").val();
        let user_phone = $("#user_phone").val();
        console.log(user_phone);
        if(user_name.length>7){
            alert("用户名过长");
            location.replace(location.href);
        }
        if(user_name.length<=0){
            alert("用户名不能为空");
            location.replace(location.href);
        }
        if(!(/^1[34578]\d{9}$/.test(user_phone))){
            alert("手机号码格式有误，请重填");
            location.replace(location.href);
        }
        if(!(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/.test(user_pwd))){
            alert("密码格式有误，请重填");
            location.replace(location.href);
        }
        if(user_pwd != user_pwd_two){
            alert("两次密码不一致");
            location.replace(location.href);
        }



        formData.append("user_name", user_name);
        formData.append("user_pwd", user_pwd);
        formData.append("user_phone", user_phone);
        console.log(user_phone.length);


            // Ajax 异步提交文件
            // $.ajax({
            //     type: "post",
            //     url: "/register",
            //     data: formData,//上一步的FormData
            //     cache: false,//不缓存数据
            //     processData: false,//不转换数据
            //     contentType: false,
            //     dataType: "json",
            //     success: function (data) {
                    // alert("注册成功2");
                    // if (data.code == 200) {
                    //     // 页面的刷新，跳转到登陆页面
                    //     alert("注册成功");
                    //     // location.replace("/gologin");
                    // }
                    // else {
                    //     alert(data.msg);
                    //     // location.replace(location.href);
                    // }


                // }
            // })

    }

</script>
</html>