<!DOCTYPE html>
<html lang="en">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>更新用户资料</title>

    <link  rel="stylesheet" href="/css/bootstrap.min.css">
    <link  rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link  rel="stylesheet" href="/css/my.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/osahan.js"></script>
    <script src="/js/my.js"></script>
</head>
<body >
<!--导航条内容-->
<div th:insert="navgation::nav">

</div>

<div class="container-fluid main" >
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 div1"  >
        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">修改资料</span></h2>
        <form id="form1"  enctype="multipart/form-data">


            <div class="form-group">
                <div class="media-left"><!--            头像-->
                    <a href="#">
                        <img class="media-object img-rounded " th:src="'/'+${session.loginer.user_picture}"  height="38px" width="38px" >
                    </a>
                </div>
                <div class="media-body " >
                    <input type="file" class="form-control" id="user_picture" >
                    <button type="button"  onclick="updatePic()"   class="btn btn-success">修改头像</button>
                </div>

            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="user_id"  th:value="${user_id}">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="user_phone"  th:value="${session.loginer.user_phone}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="user_name"  th:value="${session.loginer.user_name}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="user_sex"  th:value="${session.loginer.user_sex}">
            </div>

            <button type="button"  onclick="updateUser()"   class="btn btn-success">修改资料</button>

        </form>
    </div>


    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 div2"  >

        <h3>请文明发言</h3>
    </div>
    ...
</div>
</body>


<script>
    function updateUser() {
        alert("准备修改资料");
        let formData = new FormData;
        let user_id = $("#user_id").val();
        let user_name = $("#user_name").val();
        let user_phone = $("#user_phone").val();
        let user_sex = $("#user_sex").val();

        formData.append("user_id", user_id);
        formData.append("user_name", user_name);
        formData.append("user_sex", user_sex);
        formData.append("user_phone", user_phone);


        // Ajax 异步提交文件
        $.ajax({
            type: "post",
            url: "/updateuser",
            data: formData,//上一步的FormData
            cache: false,//不缓存数据
            processData: false,//不转换数据
            contentType: false,
            dataType: "json",
            success: function (data) {


                    alert(data.data);

                // 页面的刷新
                location.replace(location.href);
            }
        })
    }
    function updatePic() {
        alert("准备修改头像");
        let formData = new FormData;
        let user_id = $("#user_id").val();

        let file = $("#user_picture")[0].files[0]
        formData.append("user_id", user_id);
        formData.append("file", file);


        // Ajax 异步提交文件
        $.ajax({
            type: "post",
            url: "/updatepic",
            data: formData,//上一步的FormData
            cache: false,//不缓存数据
            processData: false,//不转换数据
            contentType: false,
            dataType: "json",
            success: function (data) {


                alert(data.data);

                // 页面的刷新
                location.replace(location.href);
            }
        })
    }



</script>
</html>