<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title></title>

    <link  rel="stylesheet" href="/css/bootstrap.min.css">
    <link  rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link  rel="stylesheet" href="/css/my.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slick Slider JS-->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/osahan.js"></script>
    <script src="/js/my.js"></script>
</head>
<body>
<!--导航条-->
<div th:insert="navgation::nav">

</div>

<div  style="margin-left: 30%;margin-right: 30%" >
<h4>个人资料</h4>
    <div class="media " >
        <div class="media-left">
            <img class="img-rounded media-object" th:src="'/'+${userInfo.user_picture}"  >
        </div>
        <div class="media-body " >
            ID： <span th:text="${userInfo.user_id}"></span>

        </div>
    </div>
        <div class="div-border">
            <span th:text="'昵称：'+${userInfo.user_name}"></span>

            <div th:if="${userInfo.user_id}eq ${session.loginer.user_id}">
            <a th:href="'/updateuserinfo/'+${userInfo.user_id}"    style="float: right">修改资料</a>
            </div>

            <br/>
            <span th:text="'性别：'+${userInfo.user_sex}"></span><br/>
            <span th:text="'注册时间：'+${userInfo.user_addtime}"></span><br/>
            <span th:text="'电话：'+${userInfo.user_phone}"></span><br/>
            <span th:text="'学校：'+${userInfo.user_school}"></span><br/>
            <span th:text="'动态条数：'+${userInfo.user_momentsnum}"></span><br/>
            <span th:text="'学院：'+${student.school}"></span><br/>
            <span th:text="'专业：'+${student.major}"></span><br/>
            <span th:text="'学生认证：'+${student.status}"></span><br/>
            <div th:if="${userInfo.user_id}eq ${session.loginer.user_id}">
            <a th:href="'/updatestudent/'+${userInfo.user_id}"    style="float: right">学生认证</a>
            </div>
        </div>

    </div>

</body>
</html>